.left-menu {
    width: 600px;
    height: 200px;
    background: rgb(255, 255, 255);
    float: left;
}

.right-menu {
    width: 200px;
    height: 200px;
    background: rgb(255, 255, 255);
    float: left;
} 

.middle{
    display:block;
    margin-left:auto;
    margin-right:auto;
   margin-top:auto;
    /*margin-bottom: auto;*/
}

.button{
    width:20px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
